<div class='container'>
  <h1 class='text-center mb-4'>All Users</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Bench Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name || 'No name provided' %></td>
          <td><%= user.email %></td>
          <td><%= user.bench ? '🚩' : '' %></td>
          <td>
            <%= link_to "View Profile", user_path(user), class: 'btn btn-primary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>