<div class="navbar bg-body-tertiary">
 <div class="container-fluid">
   <%= link_to "Ruby learning journal", root_path %>

   <div class="navbar-link">
     <%= link_to "New Entry", new_user_path %>
   </div>

 </div>
</div>

